body {
    background: #FFFFFF;
}

#partieLancee{
    visibility:hidden;
}

#compteARebours{
    text-align:left;
    width : 50%;
    margin : auto;}
#jauges{
	position:relative;
}

#placement_carte_cercle{
	position : relative;
	margin-left : auto;
	margin-right : auto;
	height: 600px;
}

#map {
	position : absolute;
    height:500px;
    width:500px;
    margin:auto;
    z-index:1;
    border-radius:1000px;
	left:0; right:0; bottom:0; top:0;
	vertical-align : center;
} 

#rotationSliderContainer { 
    position: absolute;
    width: 550px;
    height: 550px;
    border-radius: 275px;
	margin : auto;
	left:0; right:0; bottom:0; top:0;
    border: 0px solid;
    cursor: default;
	vertical-align : center;
}

#rotationSlider { 
    visibility : hidden;
    position: absolute;
    height: 20px;
    width: 20px;
    background: #A64B00;
    border-radius: 10px;
    cursor: pointer;
    z-index: 5;
}
#rotationSliderDegrees {
    position: absolute;
    top: 110px;
    width: 100%;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    z-index: 3;
}

#boutons{
	position: relative;
}

button {
    display: inline-block;
    padding: 5px 10px 6px;
    text-decoration: none;
    font-family: 'Arial', Sans-Serif;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer
}
